
/* Maven site containers */
#banner {
	background-color:#be9e77;
	color:#FFFFFF;
	height:60px;
}
#bannerLeft {
	font-size:2.5em;
}
#bannerRight {
	font-size:0.8em;
	font-weight:lighter;
}
#breadcrumbs {
	background-color:#688AB6;
	color:#FFFFFF;
	font-weight:bold;
}
#navcolumn {
	background-color:#D3BFA5;
}
h2 {
	background-color:#FFFFFF;
	color:#354E6E;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:1.3em;
	border:none;
}
h3 {
	background-color:#FFFFFF;
	color:black;
	font-size:small;
	border:none;
	padding:2px 0px;
	font-weight:bold;
}
.source {
	overflow: auto; 
	border-width: 2px; 
	border-style: dotted; 
	padding: 10px; 
	margin: 5px; 
	background-color: #D3BFA5; 
	color: #A37E4E;
	font-weight:bold;
}

/* page */
html, * {
	padding:0;
	margin:0;
}
body {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.0em;
	margin:0 auto;
}

/* paragraphs */
p {
	margin:5px 2px 10px 2px;
	line-height:1.4em;
}

/* links */
a, a:link, a:visited {
	color:#688AB6;
}
a:hover {
	color:#486997;
}

/* lists */
ul {
	list-style:square;
	margin:4px 0 4px 20px;
}
ol {
	margin:4px 0 4px 27px;
}


